NET clk LOC=P55;

NET rstbt LOC=P67 | PULLUP;

NET ao<8> LOC=P133 | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET ao<7> LOC=P134 | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET ao<6> LOC=P137 | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET ao<5> LOC=P138 | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET ao<4> LOC=P139 | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET ao<3> LOC=P140 | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET ao<2> LOC=P141 | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET ao<1> LOC=P142 | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET ao<0> LOC=P143 | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;

NET bo<6> LOC=P84 | IOSTANDARD=LVCMOS33;  # VCC
NET bo<5> LOC=P85 | IOSTANDARD=LVCMOS33;  # VCC
NET bo<4> LOC=P87 | IOSTANDARD=LVCMOS33;  # GND
NET bo<3> LOC=P88 | IOSTANDARD=LVCMOS33;  # GND
NET bo<2> LOC=P93 | IOSTANDARD=LVCMOS33;  # SCLK
NET bo<1> LOC=P100 | IOSTANDARD=LVCMOS33; # MOSI
NET bo<0> LOC=P102 | IOSTANDARD=LVCMOS33; # ~CS

NET bi LOC=P98 | IOSTANDARD=LVCMOS33;  # MISO


NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 20 ns HIGH 50%;

NET bt<2> LOC=P61 | IOSTANDARD=LVCMOS33 | PULLDOWN;
NET bt<1> LOC=P62 | IOSTANDARD=LVCMOS33 | PULLDOWN;
NET bt<0> LOC=P66 | IOSTANDARD=LVCMOS33 | PULLDOWN;